<script setup>
import { ref, onMounted, computed } from "vue";
import { getSettings } from "../utils";
import { THEME_SELECTOR_DATA, SYNTAX_SELECTOR_DATA } from "../constants";

const state = ref({
  selectedUserId: "",
  currentOS: "",
  dark: {
    theme: "",
    syntax: "",
  },
  light: {
    theme: "",
    syntax: "",
  },
});

const currentThemeName = computed(
  () =>
    THEME_SELECTOR_DATA.find(
      (theme) => theme.id === state.value?.[state.value.currentOS]?.theme,
    )?.name,
);

const currentSyntaxName = computed(
  () =>
    SYNTAX_SELECTOR_DATA.find(
      (theme) => theme.id === state.value?.[state.value.currentOS]?.syntax,
    )?.name,
);

const findThemeName = (theme_id) =>
  THEME_SELECTOR_DATA.find((theme) => theme.id === theme_id)?.name;

const findSyntaxName = (syntax_id) =>
  SYNTAX_SELECTOR_DATA.find((theme) => theme.id === syntax_id)?.name;

const getSelectedUserName = computed(() => {
  const userRecord = state?.value?.usersList?.find(
    (user) => user.id === state.value.selectedUserId,
  );

  return userRecord?.username;
});

onMounted(async () => {
  window
    .matchMedia("(prefers-color-scheme: dark)")
    .addEventListener("change", (e) => {
      state.value.currentOS = e.matches ? "dark" : "light";
    });

  state.value.currentOS = window.matchMedia("(prefers-color-scheme: dark)")
    .matches
    ? "dark"
    : "light";

  const { userThemePreset, selectedUserId, usersList, gitlabUrl } =
    await getSettings();

  state.value.selectedUserId = selectedUserId;

  state.value.usersList = usersList;

  state.value.gitlabUrl = gitlabUrl;

  state.value.light.theme =
    userThemePreset?.[state.value.selectedUserId]?.light?.theme;

  state.value.light.syntax =
    userThemePreset?.[state.value.selectedUserId]?.light?.syntax;

  state.value.dark.theme =
    userThemePreset?.[state.value.selectedUserId]?.dark?.theme;

  state.value.dark.syntax =
    userThemePreset?.[state.value.selectedUserId]?.dark?.syntax;
});
</script>

<template>
  <div class="pure-g">
    <div
      class="pure-u-1-1 gtc-background-highlight-1 gtc-px-1rem gtc-round-corners"
    >
      <h2>Currently applied:</h2>
      <ul class="gtc-list-style">
        <li>
          OS currently prefers: <b>{{ state.currentOS }}</b>
        </li>
        <li>
          Theme: <b>{{ currentThemeName }}</b>
        </li>
        <li>
          Syntax: <b>{{ currentSyntaxName }}</b>
        </li>
      </ul>
    </div>
    <div class="pure-u-1-1">
      <h2>Your Settings:</h2>
      <ul class="gtc-list-style">
        <li>
          User: <b>{{ getSelectedUserName }}</b>
        </li>
        <li>
          Url: <b>{{ state.gitlabUrl }}</b>
        </li>
        <li>
          Light:
          <ul>
            <li>
              Theme: <b>{{ findThemeName(state.light.theme) }}</b>
            </li>
            <li>
              Syntax: <b>{{ findSyntaxName(state.light.syntax) }}</b>
            </li>
          </ul>
        </li>
        <li>
          Dark:
          <ul>
            <li>
              Theme: <b>{{ findThemeName(state.dark.theme) }}</b>
            </li>
            <li>
              Syntax: <b>{{ findSyntaxName(state.dark.syntax) }}</b>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</template>
