<script setup>
import "purecss";
import { reactive, computed, onMounted } from "vue";
import { STORAGE_API_KEY, STORAGE_GITLAB_URL } from "../constants";
import {
  IsApiTokenDirty,
  readStorage,
  writeStorage,
  getUsers,
  validateApiKey,
  validateApiUrl,
} from "../utils";

const emit = defineEmits(["completeStep"]);

const state = reactive({
  apiTokenData: "",
  apiTokenValidationError: false,
  gitlabUrlData: "",
  apiUrlValidationError: "",
  hasReachedApi: null,
});

const apiToken = computed({
  get() {
    return state.apiTokenData;
  },
  set(newValue) {
    state.apiTokenData = newValue;
  },
});

const gitlabUrl = computed({
  get() {
    return state.gitlabUrlData;
  },
  set(newValue) {
    state.gitlabUrlData = newValue;
  },
});

const buttonStateClasses = computed(() => ({
  "button-success": state.hasReachedApi,
  "button-error": state.hasReachedApi === false,
}));

const showApiTokenValidationError = computed(() => ({
  "gtc-hidden": !state.apiTokenValidationError,
}));

const showApiUrlValidationError = computed(() => ({
  "gtc-hidden": !state.apiUrlValidationError,
}));

const showErrorMessageClasses = computed(() => ({
  "gtc-hidden": state.hasReachedApi === true || state.hasReachedApi === null,
}));

const isDirty = computed(() => IsApiTokenDirty(apiToken.value));

const onSubmit = async () => {
  state.apiTokenValidationError = false;
  state.apiUrlValidationError = false;

  if (!validateApiKey(apiToken.value)) {
    state.apiTokenValidationError = true;
    return;
  }

  if (!validateApiUrl(gitlabUrl.value)) {
    state.apiUrlValidationError = true;
    return;
  }

  await writeStorage(STORAGE_API_KEY, apiToken.value);
  await writeStorage(STORAGE_GITLAB_URL, gitlabUrl.value);

  state.hasReachedApi = await getUsers();
  setTimeout(() => emit("completeStep"), 1000);
};

onMounted(async () => {
  const apiTokenResult = await readStorage(STORAGE_API_KEY);
  const gitlabUrlResult = await readStorage(STORAGE_GITLAB_URL);
  apiToken.value = apiTokenResult;
  gitlabUrl.value = gitlabUrlResult;
});
</script>

<template>
  <label for="gitlabUrl">Your Gitlab Instance URL</label>
  <input
    id="gitlabUrl"
    v-model="gitlabUrl"
    type="text"
    placeholder="https://gdk.test"
    class="pure-input-1"
  />
  <span class="gts-error-message text-error" :class="showApiUrlValidationError"
    >Api URL is not valid</span
  >

  <label for="apiToken">API Access Token</label>
  <input
    id="apiToken"
    v-model="apiToken"
    type="text"
    placeholder="Enter API token"
    class="pure-input-1"
  />
  <span
    class="gts-error-message text-error"
    :class="showApiTokenValidationError"
    >Api Token is not valid</span
  >
  <div class="gtc-flex gtc-vertical-align gtc-justify-space">
    <button
      class="pure-button button-large gtc-mt-1rem pure-button-primary"
      :class="buttonStateClasses"
      :disabled="isDirty"
      @click.prevent="onSubmit"
    >
      Save</button
    ><span class="gts-error-message text-error" :class="showErrorMessageClasses"
      >Api Request Error</span
    >
  </div>
</template>
../constants
