<script setup>
import { THEME_SELECTOR_DATA } from "../constants";
import { slugify } from "../utils";

defineProps({
  modelValue: {
    type: String,
    required: true,
  },
  type: {
    type: String,
    required: true,
  },
});
defineEmits(["update:modelValue"]);
</script>

<template>
  <ul class="gtc-list-style">
    <li v-for="theme in THEME_SELECTOR_DATA" :key="theme.id">
      <label
        :for="`checkbox-radio-option-${type}-${slugify(theme.name)}`"
        class="pure-radio"
      >
        <input
          :id="`checkbox-radio-option-${type}-${slugify(theme.name)}`"
          type="radio"
          :name="`optionsRadios-theme-${type}`"
          :value="theme.id"
          class="gtc-mr-1rem"
          :checked="modelValue === theme.id"
          @input="$emit('update:modelValue', $event.target.value)"
        />{{ theme.name }}
      </label>
    </li>
  </ul>
</template>
../constants
