<script setup>
import { readStorage, getCurrentThemeAndSyntax, writeStorage } from "../utils";
import { STORAGE_USER_THEME_PRESET, STORAGE_SELECTED_USER } from "../constants";
import ColorThemeSelector from "./ColorThemeSelector.vue";
import ColorSyntaxSelector from "./ColorSyntaxSelector.vue";
import { onMounted, reactive } from "vue";

const emit = defineEmits(["completeStep"]);

const state = reactive({
  lightTheme: "",
  lightSyntax: "",
  darkTheme: "",
  darkSyntax: "",
  selectedUserId: "",
});

const onSubmit = async () => {
  const newSettings = {
    [state.selectedUserId]: {
      light: {
        theme: state.lightTheme,
        syntax: state.lightSyntax,
      },
      dark: {
        theme: state.darkTheme,
        syntax: state.darkSyntax,
      },
    },
  };

  await writeStorage(STORAGE_USER_THEME_PRESET, newSettings);
  setTimeout(() => emit("completeStep"), 500);
};

onMounted(async () => {
  // check current user
  // and check the previously saved presets for the user

  /*
    data sctructure od the data
    ---------------------------
    {
      userid: {
        light: {
          theme: themeid,
          syntax: syntaxid
        },
        dark: {
          theme: themeid,
          syntax: syntaxid
        }
      }
    }

  */
  const userThemePreset = await readStorage(STORAGE_USER_THEME_PRESET);
  state.selectedUserId = await readStorage(STORAGE_SELECTED_USER);

  const { theme_id, color_scheme_id } = await getCurrentThemeAndSyntax();

  state.currentGitlabTheme = theme_id.toString();
  state.currentGitlabSyntax = color_scheme_id.toString();

  state.lightTheme =
    userThemePreset?.[state.selectedUserId]?.light?.theme ??
    theme_id.toString();
  state.lightSyntax =
    userThemePreset?.[state.selectedUserId]?.light?.syntax ??
    color_scheme_id.toString();
  state.darkTheme =
    userThemePreset?.[state.selectedUserId]?.dark?.theme ?? theme_id.toString();
  state.darkSyntax =
    userThemePreset?.[state.selectedUserId]?.dark?.syntax ??
    color_scheme_id.toString();
});
</script>

<template>
  <div class="pure-g">
    <div class="pure-u-1-2">
      <h2>Light theme</h2>
      <color-theme-selector
        v-model="state.lightTheme"
        type="light"
        class="gtc-mb-1rem"
      />
      <h2>Dark syntax</h2>
      <color-syntax-selector v-model="state.lightSyntax" type="light" />
    </div>
    <div class="pure-u-1-2">
      <h2>Dark theme</h2>
      <color-theme-selector
        v-model="state.darkTheme"
        type="dark"
        class="gtc-mb-1rem"
      />
      <h2>Dark syntax</h2>
      <color-syntax-selector v-model="state.darkSyntax" type="dark" />
    </div>
  </div>
  <button
    class="pure-button button-large gtc-mt-1rem pure-button-primary"
    @click.prevent="onSubmit"
  >
    Save
  </button>
</template>
../constants
