<script setup>
import { reactive, onMounted, computed } from "vue";
import { STORAGE_SELECTED_USER } from "../constants";
import { getSettings, writeStorage } from "../utils";

const emit = defineEmits(["completeStep"]);

const state = reactive({
  selectedUser: null,
  usersListData: [],
  isSubmit: false,
});

const buttonStateClasses = computed(() => ({
  "button-success": state.isSubmit,
}));

onMounted(async () => {
  const { usersList, selectedUserId } = await getSettings();
  state.usersListData = usersList;
  if (!state?.selectedUser && selectedUserId) {
    state.selectedUser = selectedUserId;
  }
  if (!state?.selectedUser && !selectedUserId) {
    state.selectedUser = state.usersListData[0].id;
  }
});

const onSubmit = async () => {
  state.isSubmit = false;

  await writeStorage(STORAGE_SELECTED_USER, state.selectedUser);
  state.isSubmit = true;
  setTimeout(() => emit("completeStep"), 1000);
};
</script>

<template>
  <label for="gitlabUrl">Select user</label>
  <select v-model="state.selectedUser" class="pure-input-1">
    <option v-for="user in state.usersListData" :key="user.id" :value="user.id">
      {{ user.username }}
    </option>
  </select>
  <div class="gtc-flex gtc-vertical-align gtc-justify-space">
    <button
      class="pure-button button-large gtc-mt-1rem pure-button-primary"
      :class="buttonStateClasses"
      @click.prevent="onSubmit"
    >
      Save
    </button>
  </div>
</template>
../constants
