<script setup>
import "purecss";
import { onMounted, ref } from "vue";
import { getSettings } from "./utils";

import ApiTokenInput from "./components/ApiTokenInput.vue";
import UserSelector from "./components/UserSelector.vue";
import ThemeSelector from "./components/ThemeSelector.vue";
import AllSetScreen from "./components/AllSetScreen.vue";

const currentStep = ref(1);

const setStep = (step) => {
  currentStep.value = step;
};

const isCurrentStep = (step) => {
  return currentStep.value === step;
};

onMounted(async () => {
  const { userThemePreset, selectedUserId, apiToken, gitlabUrl } =
    await getSettings();
  if (!apiToken || !gitlabUrl) {
    setStep(1);
  } else if (!selectedUserId) {
    setStep(2);
  } else if (!userThemePreset?.[selectedUserId]) {
    setStep(3);
  } else {
    setStep(4);
  }
});
</script>

<template>
  <div class="pure-g">
    <h1 class="gtc-ml-1rem">Gitlab theme changer</h1>
    <p>
      Select two sets of themes that will get toggeled. Based on the OS settings
      Dark or Light theme will be enabled.
    </p>
    <div class="pure-u-1-1">
      <div
        class="pure-button-group gtc-tabs gtc-mb-1rem"
        role="group"
        aria-label="pagination"
      >
        <button
          class="pure-button"
          :class="{ 'pure-button-active': currentStep === 1 }"
          @click.prevent="setStep(1)"
        >
          token
        </button>
        <button
          class="pure-button"
          :class="{ 'pure-button-active': currentStep === 2 }"
          @click.prevent="setStep(2)"
        >
          user
        </button>
        <button
          class="pure-button"
          :class="{ 'pure-button-active': currentStep === 3 }"
          @click.prevent="setStep(3)"
        >
          theme
        </button>
        <button
          class="pure-button"
          :class="{ 'pure-button-active': currentStep === 4 }"
          @click.prevent="setStep(4)"
        >
          status
        </button>
      </div>
      <form class="pure-form pure-form-stacked">
        <fieldset>
          <api-token-input
            v-if="isCurrentStep(1)"
            @complete-step="setStep(2)"
          />
          <user-selector v-if="isCurrentStep(2)" @complete-step="setStep(3)" />
          <theme-selector v-if="isCurrentStep(3)" @complete-step="setStep(4)" />
          <all-set-screen v-if="isCurrentStep(4)" />
        </fieldset>
      </form>
    </div>
  </div>
</template>
