

:root {
  /* Color Schema */
  --lightest-dark: #FAFAFA;
  --lighter-dark: #EAEAEA;
  --light-dark: #888888;
  --dark: #555555;
  --darker: #242424;
  --darkest: #000000;

  --light: #FAF9F6;
  --lighter: #ffffff;

  --error: #DC143C;
  --success: #3CB371;

  --light-highlight-1: #F0E68C;
  --light-highlight-2: #FFDAB9;

  --dark-hightlight-1: #666600;
  --dark-hightlight-2: #C71585;



  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
      color-scheme: dark;
      color: var(--light);
      background-color: var(--darker);
  }

  .gtc-background-highlight-1 {
    background-color: var(--dark-hightlight-1);
  }

  .gtc-background-highlight-2 {
    background-color: var(--dark-hightlight-2);
  }

  .pure-form input[type=color],
  .pure-form input[type=date],
  .pure-form input[type=datetime-local],
  .pure-form input[type=datetime],
  .pure-form input[type=email],
  .pure-form input[type=month],
  .pure-form input[type=number],
  .pure-form input[type=password],
  .pure-form input[type=search],
  .pure-form input[type=tel],
  .pure-form input[type=text],
  .pure-form input[type=time],
  .pure-form input[type=url],
  .pure-form input[type=week],
  .pure-form select,
  .pure-form textarea {
    box-shadow: none !important;
    border: 1px solid var(--dark) !important;
    background-color: var(--darker) !important;
    color:var(--light)
  }

  .pure-form legend {
    color: var(--light) !important;
  }

    .gtc-tabs {
      .pure-button {
        box-shadow: none;
        border-color: var(--lighter-dark);
        background-color: var(--darker);
        color: var(--light)
      }
  
      .pure-button-active,
      .pure-button :active {
        box-shadow: none;
        border-color: none;
        background-color: var(--dark-hightlight-1);
        color: var(--light);
      }

      .pure-button-hover,
      .pure-button:focus,
      .pure-button:hover {
        background-image: none;
        background-color: var(--light-highlight-1);
        color: var(--dark);
      }
  
      &::after {
        background-color: var(--light);
      }
    }
}

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
    color: var(--darker);
    background-color: var(--light);
  }

  .gtc-background-highlight-1 {
    background-color: var(--light-highlight-1);
  }

  .gtc-background-highlight-2 {
    background-color: var(--light-highlight-2);
  }

  .pure-form input[type=color],
  .pure-form input[type=date],
  .pure-form input[type=datetime-local],
  .pure-form input[type=datetime],
  .pure-form input[type=email],
  .pure-form input[type=month],
  .pure-form input[type=number],
  .pure-form input[type=password],
  .pure-form input[type=search],
  .pure-form input[type=tel],
  .pure-form input[type=text],
  .pure-form input[type=time],
  .pure-form input[type=url],
  .pure-form input[type=week],
  .pure-form select,
  .pure-form textarea {
    box-shadow: none !important;
    border: 1px solid var(--dark) !important;
    background-color: var(--light) !important;
    color: var(--darker)
  }

  .gtc-tabs {
    .pure-button {
      box-shadow: none;
      border-color: var(--lighter-dark);
      background-color: var(--lightest-dark);
      color: var(--dark)
    }

    .pure-button-active,
    .pure-button :active {
      box-shadow: none;
      border-color: none;
      background-color: var(--light-highlight-1);
      color: var(--dark)
    }

    .pure-button-hover,
    .pure-button:focus,
    .pure-button:hover {
      background-image: none;
      background-color: var(--dark-hightlight-1);
      color: var(--light);
    }

    &::after {
      background-color: var(--dark);
    }
  }
}

body {
  place-items: center;
  min-width: 400px;
  padding: 1rem;
}

.gtc-full-width {
  width: 100%;
}

.gtc-mt-1rem {
  margin-top: 1rem;
}

.gtc-mr-1rem {
  margin-right: 1rem;
}

.gtc-mb-1rem {
  margin-bottom: 1rem;
}

.gtc-ml-1rem {
  margin-right: 1rem;
}

.gtc-px-1rem {
  padding-left: 1rem;
  padding-right: 1rem;
}

.gtc-round-corners {
  border-radius: .5rem;
}

.gtc-flex {
  display: flex;
}

.gtc-vertical-align {
  flex-direction: row;
  align-items: center;
}

.gtc-justify-space {
  justify-content: space-between;
}

.button-success {
  background-color: var(--success) !important;
}

.button-error {
  background-color: var(--error) !important;
}

.text-error {
  color: var(--error) !important;
}

.gtc-hidden {
  display: none;
}

.gtc-list-style {
  list-style: none;
  list-style-position: inside;
  padding: 0;
}

.gtc-tabs {
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--dark);
  }
}
